<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.gov.inci.evaluon" >

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Inci" >

        <!-- Application Services -->
        <service android:name=".backend.services.accounts.Authenticator" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- /Application Services -->


        <!-- Application Activities -->
        <activity
            android:name=".gui.controllers.account.SplashActivity"
            android:label="@string/title_activity_splash"
            android:noHistory="true"
            android:theme="@style/Theme.Inci.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.controllers.account.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".gui.controllers.home.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".gui.controllers.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".gui.controllers.home.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.home.MainActivity" />
        </activity>
        <activity
            android:name=".gui.controllers.settings.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:parentActivityName=".gui.controllers.settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.settings.SettingsActivity" />
        </activity>

        <activity
            android:name=".gui.controllers.account.LogoutActivity"
            android:label="@string/title_activity_logout" />

        <activity
            android:name=".gui.controllers.settings.UpdateUserActivity"
            android:label="@string/title_activity_update_profile"
            android:parentActivityName=".gui.controllers.settings.SettingsActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".gui.controllers.settings.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".gui.controllers.settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.settings.SettingsActivity" />
        </activity>

        <activity
            android:name=".gui.controllers.tests.groups.InstitutionsActivity"
            android:label="@string/title_activity_institutions"
            android:parentActivityName=".gui.controllers.home.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.home.MainActivity" />
        </activity>
        <activity
            android:name=".gui.controllers.tests.groups.GroupsActivity"
            android:label="@string/title_activity_groups"
            android:parentActivityName=".gui.controllers.tests.groups.InstitutionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.tests.groups.InstitutionsActivity" />
        </activity>

        <activity
            android:name=".gui.controllers.tests.list.GroupTestListActivity"
            android:label="@string/title_activity_test_list"
            android:parentActivityName=".gui.controllers.tests.groups.GroupsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.tests.groups.GroupsActivity" />
        </activity>
        <activity
            android:name=".gui.controllers.tests.list.SelfTestListActivity"
            android:label="@string/title_activity_test_list"
            android:parentActivityName=".gui.controllers.home.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.home.MainActivity" />
        </activity>

        <activity
            android:name=".gui.controllers.tests.groups.TestPasswordActivity"
            android:label="@string/title_activity_test_password"
            android:parentActivityName=".gui.controllers.tests.list.TestListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.tests.list.TestListActivity" />
        </activity>

        <activity
            android:name=".gui.controllers.tests.exams.KnowledgeAreasActivity"
            android:label="@string/title_activity_knowledge_areas"
            android:parentActivityName=".gui.controllers.home.MainActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".gui.controllers.tests.list.TestListActivity" />
    </activity>
        <activity
            android:name=".gui.controllers.tests.exams.QuestionsActivity"
            android:label="@string/title_activity_pre_questions"
            android:parentActivityName=".gui.controllers.tests.exams.KnowledgeAreasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.controllers.tests.list.TestListActivity" />
        </activity>
    </application>

</manifest>
